{% extends 'main/base.html' %}

{% block content %}
    <h1>
        Homepage
    </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium dolorem placeat veritatis iure est at, doloribus dolor ipsum labore temporibus maiores culpa eum necessitatibus sunt exercitationem possimus deserunt veniam facere.
    </p>

    <br>
    {% for server in servers %}
        <h2> {{ server.price }} </h2>
        {{ server.title }} - {{ server.region }}, {{ server.cpu }}, {{ server.cores }}, {{ server.ghz }}<br>
    {% endfor %}
{% endblock %}